.btn {
  width: 147px;
  height: 48px;
  border: 0;
  border-radius: 10px;
  color: var(--white);
  font-family: "Space Mono";
  font-size: 24px;
  background-color: var(--very-dark-cyan);
}

.btn:focus {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

.custom {
  color: var(--dark-grayish-cyan);
  background-color: var(--very-light-grayish-cyan);
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 116px;
  }
}
